<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Ahmed's Portfolio site</title>
    <meta name="author" content="Ahmed Faraz Ansari">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,initial-scale=1,user-scalable=yes">
    <meta name="description" content="Ahmed's portfolio site to demonstrate his frontend skills">
    <meta name="keywords" content="frontend, html5, css, html, grunt">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="static/css/CSS_dist/main.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="http://weloveiconfonts.com/api/?family=fontawesome">
    <script src="static/JS_dist/jQuery-3.1.1.min.js"></script>
    <script async src="static/JS_dist/bootstrap.min.js"></script>
</head>

<body>
    <header class="header-container">
        <div class="header-logo">
            <a href="#">
                <img data-toggle="popover" data-placement="right" data-trigger="hover" title="The AF logo" src="/static/logo.svg" alt='logo'>
            </a>
        </div>
        <div class="header-title">
            <h1 class="title" data-toggle="popover" data-placement="bottom" data-trigger="hover" title="Learner">Ahmed Faraz Ansari</h1>
            <h2 class="profile">Sr. Analyst</h2>
        </div>
    </header>
    <hr class="separator">
    <article class="main-content">
        <h2 class="heading-2">Highlight</h2>
        <picture>
            <source media="(min-width:1024px)" srcset="static/Images_Dist/portfolio_highlight-1024_large_2x.jpeg 2x,
            static/Images_Dist/portfolio_highlight-1024_large_1x.jpeg 1x" type="image/jpeg" />
            <source sizes="100vw" srcset="static/Images_Dist/portfolio_highlight-800_large.jpeg 800w,
            static/Images_Dist/portfolio_highlight-600_mid.jpeg 600w,
            static/Images_Dist/portfolio_highlight-350x350_small_cropped.jpeg 350w" type="image/jpeg" />
            <img data-toggle="popover" data-placement="top" data-trigger="hover" title="The dummy highlights of Ahmed's work" sizes="100vw" src="static/Images_Dist/portfolio_highlight-1024_large_1x.jpeg" srcset="static/Images_Dist/portfolio_highlight-1024_large_1x.jpeg 1024w,
            static/Images_Dist/portfolio_highlight-800_large.jpeg 800w,
            static/Images_Dist/portfolio_highlight-600_mid.jpeg 600w,
            static/Images_Dist/portfolio_highlight-350x350_small_cropped.jpeg 350w" alt="Portfolio highlight">
        </picture>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tellus ligula, semper vel odio vitae, sagittis commodo est. Pellentesque eu nisi tristique, consequat nulla dapibus, bibendum sem. Sed elementum est scelerisque, consequat diam at, ornare dui. Cras eleifend sem velit, at mollis nunc lacinia a. Duis dictum efficitur nisl ac lobortis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum volutpat odio dui. Curabitur eu orci convallis, finibus risus non, tempus eros. Mauris scelerisque porttitor nisl. Suspendisse ullamcorper mauris eu sem tempus, ac pellentesque risus laoreet. Fusce porta malesuada magna, non scelerisque sapien blandit id. Fusce metus eros, vulputate sit amet tincidunt vel, pharetra a augue. Ut risus leo, mattis eu sem dictum, sagittis tincidunt dui. Quisque facilisis dui id magna feugiat lacinia.
        </p>
        <section class="featured-container">
            <h2 class="heading-2">Featured work</h2>
            <div class="featured">
                <section class="featured-item">
                    <figure>
                        <picture>
                            <source media="(min-width:1024px)" srcset="static/Images_Dist/portfolio_featured-1024_large_2x.jpeg 2x,
                            static/Images_Dist/portfolio_featured-1024_large_1x.jpeg 1x" type="image/jpeg" />
                            <source sizes="(min-width:600px) 50vw, 100vw" srcset="static/Images_Dist/portfolio_featured-1024_large_1x.jpeg 800w,
                            static/Images_Dist/portfolio_featured-600_mid.jpeg 600w,
                            static/Images_Dist/portfolio_featured-350x350_small_cropped.jpeg 350w" type="image/jpeg" />
                            <img data-toggle="popover" data-placement="left" data-trigger="hover" title="This portfolio site on Github" src="static/Images_Dist/portfolio_featured-1024_large_1x.jpeg" sizes="(min-width:600px) 50vw, 100vw" srcset="static/Images_Dist/portfolio_featured-1024_large_1x.jpeg 1024w,
                            static/Images_Dist/portfolio_featured-800_large.jpeg 800w,
                            static/Images_Dist/portfolio_featured-600_mid.jpeg 600w,
                            static/Images_Dist/portfolio_featured-350x350_small_cropped.jpeg 350w" alt="Portfolio featured">
                        </picture>
                        <figcaption>
                            <h3>Portfolio site</h3>
                            <a href="https://github.com/ahmfrz/Portfolio-Site/">https://github.com/ahmfrz/Portfolio-Site/</a>
                        </figcaption>
                    </figure>
                </section>
                <section class="featured-item">
                    <figure>
                        <picture>
                            <source media="(min-width:1024px)" srcset="static/Images_Dist/portfolio_wip-1024_large_2x.jpeg 2x,
                            static/Images_Dist/portfolio_wip-1024_large_1x.jpeg 1x" type="image/jpeg" />
                            <source sizes="(min-width:600px) 50vw, 100vw" srcset="static/Images_Dist/portfolio_wip-1024_large_1x.jpeg 800w,
                            static/Images_Dist/portfolio_wip-600_mid.jpeg 600w,
                            static/Images_Dist/portfolio_wip-350x350_small_cropped.jpeg 350w" type="image/jpeg" />
                            <img data-toggle="popover" data-placement="top" data-trigger="hover" title="Place for future projects" src="Images_Dist/portfolio_wip-1024_large_1x.jpeg" sizes="(min-width:600px) 50vw, 100vw" srcset="static/Images_Dist/portfolio_wip-1024_large_1x.jpeg 1024w,
                            static/Images_Dist/portfolio_wip-800_large.jpeg 800w,
                            static/Images_Dist/portfolio_wip-600_mid.jpeg 600w,
                            static/Images_Dist/portfolio_wip-350x350_small_cropped.jpeg 350w" alt="Portfolio work in progress">
                        </picture>
                        <figcaption>
                            <h3>The Programmers Blog</h3>
                            <a href="https://github.com/ahmfrz/theprogrammersblog">https://github.com/ahmfrz/theprogrammersblog</a>
                        </figcaption>
                    </figure>
                </section>
                <section class="featured-item">
                    <figure>
                        <picture>
                            <source media="(min-width:1024px)" srcset="static/Images_Dist/portfolio_holdon-1024_large_2x.jpeg 2x,
                            static/Images_Dist/portfolio_holdon-1024_large_1x.jpeg 1x" type="image/jpeg" />
                            <source sizes="(min-width:600px) 50vw, 100vw" srcset="static/Images_Dist/portfolio_holdon-1024_large_1x.jpeg 800w,
                            static/Images_Dist/portfolio_holdon-600_mid.jpeg 600w,
                            static/Images_Dist/portfolio_holdon-350x350_small_cropped.jpeg 350w" type="image/jpeg" />
                            <img data-toggle="popover" data-placement="top" data-trigger="hover" title="Place for future projects" src="static/Images_Dist/portfolio_holdon-1024_large_1x.jpeg" sizes="(min-width:600px) 50vw, 100vw" srcset="static/Images_Dist/portfolio_holdon-1024_large_1x.jpeg 1024w,
                            static/Images_Dist/portfolio_holdon-800_large.jpeg 800w,
                            static/Images_Dist/portfolio_holdon-600_mid.jpeg 600w,
                            static/Images_Dist/portfolio_holdon-350x350_small_cropped.jpeg 350w" alt="Portfolio featured">
                        </picture>
                        <!-- TODO: Update caption and link once new projects are ready -->
                        <figcaption>
                            <h3>Hold on</h3>
                            <a href="https://github.com/ahmfrz/">https://github.com/ahmfrz/</a>
                        </figcaption>
                    </figure>
                </section>
            </div>
        </section>
    </article>
    <hr class="separator">
    <footer>
        <div class="social-links-container">
            <ul class="social-links">
                <li>
                    <a class="fontawesome-linkedin" href="https://in.linkedin.com/in/ahmed-faraz-ansari-455ba211a"></a>
                </li>
                <li>
                    <a class="fontawesome-github" href="https://github.com/ahmfrz"></a>
                </li>
                <li>
                    <a class="fontawesome-google-plus" href="https://plus.google.com/101730400204789704600"></a>
                </li>
            </ul>
        </div>
    </footer>
</body>

</html>
