<!DOCTYPE html>
<html>

<head>
    <title>Welcome to the Programmers blog</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="author" content="ahmfrz">
    <meta name="description" content="Blog for programmers">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" href="http://weloveiconfonts.com/api/?family=fontawesome">
    <link href="https://fonts.googleapis.com/css?family=Bahiana" rel="stylesheet">
</head>

<body>
    <header>
        <div class="blog-masthead">
            <div class="container">
                <nav class="blog-nav">
                    <div class="row">
                        <div class="col-sm-6">
                            <a class="blog-nav-item active" href="/">Home</a>
                            <a class="blog-nav-item" href="/about">About</a>
                        </div>
                        <div class="col-sm-6 text-right">
                            {% if not user %}
                            <a class="blog-nav-item" href="/login">
                                Sign in
                            </a>
                            <a class="blog-nav-item" href="/register">
                                Register
                            </a> {% else %} Welcome, {{user.username}}!!!
                            <a class="blog-nav-item" href="/newpost">
                                New Post
                            </a>
                            <a class="blog-nav-item" href="/logout">
                                Logout
                            </a> {% endif %}
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <article class="container body-content">
        {% block content %} {% endblock %}
    </article>
    <br>
    <footer class="blog-footer">
        <div class="social-links-container">
            <ul class="social-links">
                <li>
                    <a class="fontawesome-linkedin" href="https://in.linkedin.com/in/ahmed-faraz-ansari-455ba211a" target="_blank" lang="en"></a>
                </li>
                <li>
                    <a class="fontawesome-github" href="https://github.com/ahmfrz" target="_blank" lang="en"></a>
                </li>
                <li>
                    <a class="fontawesome-google-plus" href="https://plus.google.com/101730400204789704600" target="_blank" lang="en"></a>
                </li>
            </ul>
        </div>
    </footer>
    <script type="text/javascript" src="/static/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
</body>

</html>
